body {
    background-image: url("../Images/prism.png");
    background-size: cover;
    background-image: url("../Images/prism.png");
}

.brand {
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #3EC9A7;
    font-size: 3.5rem;
}

menu {
    margin-top: 0;
    background-image: url("../Images/prism.png");
    position: fixed;
    top: 0;
    width: 100%;
    color: #fff;
    min-height: 70px;
    border-bottom: #3EC9A7 3px solid;
    font-family: 'Donegal One', serif;
}

ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

menu a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

menu a:hover {
    color: orange;
    font-weight: bold;
}

menu li {
    display: inline;
    padding: 1%;
}

.bioContainer {
    background: url("../Images/ireboat.jpeg");
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 700px;
    border-bottom: 3px solid #3EC9A7;
}

.bio {  
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Love Ya Like A Sister', cursive;
    width: 100%;
}

.bio h1 {
    text-align: center;
    color: #2B879E;
    font-size: 50px;
}

.bio p {
    color: gray;
    width: 80%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
}

#title {
    background-image: url("../Images/prism.png");
    box-shadow: 5px 5px 25px black;
    width: 40%;    
}

#portfolio {
    background-image: url("../Images/prism.png");
    background-attachment: fixed;
    padding: 1%;
    font-size: 45px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vw;
    text-align: center;
    color: #2B879E;
    box-shadow: 5px 5px 25px black;
    width: 40%;
}

.boxes {
    background-image: url("../Images/prism.png");
    background: rgb(48, 46, 46);
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    text-align: center;
    line-height: 1.5;
    font-family: 'Love Ya Like A Sister', cursive;
    padding: 3%;
    box-shadow: 5px 5px 25px black;
}

.boxes h3 {
    font-size: 30px;
    color: #3EC9A7;
}

.boxes h4 {
    font-size: 25px;
    color: #2B879E;
}

.boxes p { 
    color: gray;
}

.boxes a {
    color: orange;
}

.box {
    padding: 3%;
    border: 1px solid black;
    box-shadow: 5px 5px 10px black;
    background-image: url("../Images/prism.png");
    background-size: contain;
    background-attachment: fixed;
}

img {
    max-width: 300px;
}

a {
    text-decoration: none;
}

.contactForm {
    text-align: center;
    margin-top: 3vw;
    margin-bottom: 10vw;
    width: 60%;
    margin-left: auto;
    margin-right: auto;  
    box-shadow: 5px 5px 25px black;  
    background-image: url("../Images/prism.png");
    background-attachment: fixed;
}

.social {
    padding: .25%;
    color: #3EC9A7;
    display: inline;
}

label {
    color: red;
}

.contactForm input {
    margin-top: 10px;
    color: red;
    height: 25px;
    width: 80%;
    text-align: center;
    border: 1px solid red;
    box-shadow: 5px 5px 25px black;
}

.contactForm h2 {
    padding: 1vw;
    font-size: 50px;
    color: red;
    margin-top: 3vw;
    background: rgb(48, 46, 46);
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 25px black;
}

.contactForm p {
    color: white;
    line-height: 1.5;
    font-size: 24px;
}

.selfie {
    margin-top: 20px;
    width: 100%;
    border: 15px white solid;
    box-shadow: 5px 5px 25px black;
}

footer {
    padding: 1%;
    color: #3EC9A7;
    background-image: url("../Images/prism.png");
    background-size: cover;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: #3EC9A7 3px solid;
}

button {
    background: #3EC9A7;
    font-size: 24px;
    border: 3px solid red;
    margin-top: 1vw;
    margin-bottom: 100px; 
    box-shadow: 5px 5px 25px black
}
