* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0 auto;
    width: 100%;
}

a {
    text-decoration: none;
}

img {
    min-width: 350px;
    max-width: 740px;
    overflow: scroll;
    border-radius: 5px;
}

.selfie {
    border: 30px inset #666;
    padding: 50px;
}

h1 {
    text-align: center;
    color: #333;
    margin: 100px auto 50px auto;
}

p {
    min-width: 350px;
    max-width: 700px;
    color: #333;
    margin: 5px auto;
    font-size: 34px;
    line-height: 1.5;
}

nav {
    text-align: center;
    padding: 50px 0;
    background: tomato;
}

nav span {
    max-width: 100%;
    display: inline-block;
    font-size: 58px;
    letter-spacing: 2px;
    padding: 20px 10px;
    margin: 0 50px;
}

nav span a {
    color: #fff;
    text-transform: uppercase;
}

nav span a:hover {
    color: yellowgreen;
}

nav a:focus {
    border: 3px solid tomato;
}

section, article {
    margin: 2.5em auto;
    min-width: 350px;
    max-width: 750px;
}

.portfolio h2 {
    background: teal;
    color: white;
    max-width: 270px;
    padding: .5em;
    margin-left: .25em;
    border-radius:5px;
}

.portfolio h3 {
    background: tomato;
    color: white;
    padding: .5em;
    border-radius: 5px;
}

.tech {
    /* border: 3px solid tomato; */
    border-radius: 5px;
    padding: .5em;
    margin-top: .5em;
    height: 750px;
    overflow: scroll;
}

.tech p {
    font-size: 32px;
    letter-spacing: 2px;
}

.tech ul {
    padding: 2.5em;
    margin: 1em;
    line-height: 1.5;
}

.tech li {
    font-size: 20px;
    letter-spacing: 2px;
}

.tech a {
    margin-top: 100px;
    color: tomato;
}

.portfolio img {
    border: 30px outset #777;
    padding: 50px;
}

.portfolio img:hover {
    opacity: .5;
}

figcaption {
    text-align: right;
    color: #666;
    font-size: 18px;
    padding: .5em;
}

.contact {
    margin: 0 auto;
    width: 100%;
    border: 30px solid #666;
    background: teal;
}

form { 
    margin: 0 auto;
    display: block;
    color: white;
    text-align: center;
}

input, textarea {
    width: 80%;
    margin: 10px auto;
    overflow: scroll;
}

button {
    color: white;
    background: blueviolet;
    border-radius: 5px;
    height: 50px;
    width: 150px;
    padding: 20px;
    text-align: center;
}

footer p { 
    text-align: center;
    margin: 50px auto;
} 