* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trade Winds', cursive;
}

html {
  font-size: 20px;
}

body {
  margin: 0 auto;
  width: 100%;
  background: tomato;
  opacity: 0.85;
}

main {
  z-index: 1;
}

div {
  margin-bottom: 1rem;
}

p {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 5px;
  display: block;
}

.box {
  position: relative;
  display: inline-block;
  width: 400px;
  border: 10px white solid;
  border-radius: 8px;
}

.box .text {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  display: inline-block;

}

.text {
  font-size: 1.7rem;
  left: 80;
  display: inline-block;
  position: absolute;
  right: 0;
  font-family: 'Abril Fatface', cursive;
  text-transform: uppercase;

}

.sticker {
  background-color: tomato;
  width: 100%;
  color: white;
  padding: 1%;
  font-size: .75rem;
}

.texta {
  left: 0;
  right: 0;
}
.textb {
  bottom: .1%;
  left: 0;
  right: 0;
  height: 60px;
  font-size: 1rem;
}

#name {
  font-family: 'Rock Salt', cursive;
  color: black;
  font-size: 1.5rem;
}

#hello {
  font-size: 2rem;
}

h1 {
  text-align: center;
  color: #333;
  margin: 100px auto 50px auto;
}

p {
  min-width: 350px;
  max-width: 700px;
  color: #333;
  margin: 5px auto;
  font-size: 1.25rem;
  line-height: 1.5;
}

nav {
  text-align: center;
  padding: 15px 0;
  background: tomato;
  font-family: 'Abril Fatface', cursive;
}

nav span {
  max-width: 100%;
  display: inline-block;
  font-size: 1.5rem;
  padding: 20px 10px;
}

nav span a {
  color: #fff;
}

nav span a:hover {
  color: rgb(117, 233, 142);
}

nav a:focus {
  border: 3px solid tomato;
}

article {
  margin: 3.5em auto;
  min-width: 350px;
  max-width: 750px;
}

.portfolio h2 {
  background: teal;
  color: white;
  max-width: 33%;
  padding: 0.5em;
  border-radius: 5px 5px 0 0;
}

.portfolio h3 {
  background: tomato;
  color: white;
  padding: 0.5em;
  border-radius: 5px;
}

.tech {
  border: 10px solid tomato;
  border-radius: 0 5px 5px 5px;
  padding: 5%;
  height: 660px;
  overflow: scroll;
  background: #333;
  text-align: center;
  opacity: .9;
}

.tech p {
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
}

.tech h3 {
  margin-top: 1rem;
}

.tech ul {
  padding: 2.5em;
  margin: 1em;
  line-height: 1.5;
  border: 3px solid tomato;
  border-radius: 5px;
}

.tech li {
  font-size: 1rem;
  letter-spacing: 2px;
  color: white;
}

.tech a {
  margin-top: 100px;
  color: white;
}

.tech a:hover {
  color: rgb(117, 233, 142);
}

.portfolio img {
  border-radius: 5px;
  padding: 1rem;
}

.portfolio img:hover {
  opacity: 0.2;
  background-color: rgb(117, 233, 142);
}

#pxl {
  background-image: url("../Images/stockimage1.jpeg");
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  padding: 5em;
}

#trivia {
  background-image: url("../Images/stockimage2.jpeg");
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  padding: 5em;
}
#codex {
  background-image: url("../Images/stockimage6.jpeg");
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  padding: 5em;
}
#vueProductPage {
  background-image: url("../Images/stockimage2.jpeg");
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  padding: 5em;
}

#choreBot {
  background-image: url("../Images/stockimage7.jpeg");
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  padding: 5em;
}

#bio {
  background-image: url("../Images/stockimage3.jpeg");
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  padding: 0.1rem;
}

#bio h1,
p {
  color: tomato;
  font-family: 'Trade Winds', cursive;
}

#bio h1 {
  font-size: 2rem;
}

#bio figcaption {
  color: white;
  position: absolute;
  bottom: -1.5rem;
  margin: 0;
  padding: 0;
}
#dateNight {
  background-image: url("../Images/stockimage4.jpeg");
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  padding: 5em;
}
#wordGuessingGame {
  background-image: url("../Images/stockimage5.jpeg");
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  padding: 5em;
}

figcaption {
  text-align: right;
  color: #eee;
  font-size: 0.8rem;
  padding: 0.5em;
  opacity: 1;
}

.contact {
  margin: 0 auto;
  width: 100%;
  border: 30px solid #666;
  background: teal;
}

.contact h2 {
  text-align: center;
  font-size: 3rem;
  color: white;
  font-family: 'Abril Fatface', cursive;
}

form {
  margin: 0 auto;
  display: block;
  color: tomato;
  text-align: center;
}

input,
textarea {
  width: 80%;
  margin: 10px auto;
  overflow: scroll;
}

button {
  color: white;
  background: blueviolet;
  border-radius: 5px;
  height: 50px;
  width: 150px;
  padding: 20px;
  text-align: center;
}

footer p {
  text-align: center;
  margin: 1.5rem auto;
  color: #333;
}

footer .icons {
  font-size: 2.5rem;
  color: #333;
  text-align: center;
  margin-top: 1.5rem;
}

.fa-twitter-square, .fa-github-square {
  color: white;
}

